@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

.header {
  background-color: #458d9d;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

<<<<<<< HEAD
 .header-Wrap {
  max-width: 800px;
  margin-bottom: auto;


}  

 .header-Title {
  font-size: 2em;
  margin-top: 
  
}  

 .containers {
  list-style-type: none;
  padding: 0;
  border-color: 20px solid #1b2021;
   justify-content: space-around; 
   margin-right: 96px; 
 
=======
.containers {
  list-style-type: none;
  padding: 0;
  border-color: 20px solid #1b2021;
  justify-content: space-around;
>>>>>>> dcd1a75d3c3faa60cffc95e9edad59ecf328d31c
}

.containers-items,
#favourite-Btn {
  background-color: #6f90b1;
<<<<<<< HEAD
   padding: 10px; 
   justify-content: space-between; 
   border-radius: 80px; 
  border: 2px solid #2d2f2f;
  position: relative;

 
}
.containers-items:hover  {
  background-color: #6fb193;
  /* color: #322f2f; */
   border-radius: 80px; 
  cursor: pointer; 
  border: 2px solid #2d2f2f;
 
=======
  color: #322f2f;
  padding: 10px;
  justify-content: space-between;
  border-radius: 80px;
  cursor: pointer;
  border: 2px solid #2d2f2f;
  transition: all 100ms ease-in-out;
>>>>>>> dcd1a75d3c3faa60cffc95e9edad59ecf328d31c
}

#favourite-Btn {
  transition: all 50ms ease-in-out;
  padding: 10px 30px;
}

#favourite-Btn:active {
  padding: 9px 25px;
}

.containers-items:hover {
  background-color: #6fb193;
  padding: 13px;
}

.containers-items:active {
  background-color: #7c7e7d;
  padding: 9px;
}

#number-input {
  margin-top: 10px;
  padding: 5px;
<<<<<<< HEAD
  border-radius: 80px; 
   color: #0b0a0a;
}

input[type="submit"]{
  font-size: 15px;
  border: 2px solid #3b3e3e;
  background-color: #6f90b1;
  padding: 6px 3px;
  width: 100px;
  border-radius: 40px; 
  cursor: pointer;
  margin-top: 10px;
 
}

input[type="submit"]:hover {
  border: 2px solid #3b3e3e;
  background-color:#6fb193;
  color: #322f2f;
   justify-content: space-between;
   border-radius: 1000px; 
  cursor: pointer; 
=======
  width: 150px;
>>>>>>> dcd1a75d3c3faa60cffc95e9edad59ecf328d31c
}

h5 {
  color: #262a2a;
  margin-top: 10px;
  font-size: 15px;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .containers {
    flex-direction: column;
    align-items: center;
    display: inline;
  }
<<<<<<< HEAD
}  
=======
}
>>>>>>> dcd1a75d3c3faa60cffc95e9edad59ecf328d31c
