 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

/* .header-Wrap {
  max-width: 800px;
  margin: 0 auto;

} */

/* .header-Title {
  font-size: 2em;
  margin: 0;
} */

 .containers {
  list-style-type: none;
  padding: 0;
  border-color: 20px solid #1b2021;
   justify-content: space-around; 
  /* margin-top: px; */
}

.containers-items  {
  background-color: #6f90b1;
  color: #322f2f;
   padding: 10px; 
   justify-content: space-between;
   border-radius: 80px; 
  cursor: pointer; 
  border: 2px solid #2d2f2f;
 
}
.containers-items:hover  {
  background-color: #6fb193;
  color: #322f2f;
   padding: 18px; 
   justify-content: space-between;
   border-radius: 80px; 
  cursor: pointer; 
  border: 2px solid #2d2f2f;
 
}

 #number-input {
  margin-top: 10px;
  padding: 5px;
  
}

input[type="submit"]{
  border: 2px solid #3b3e3e;
  background-color: #1dc0d5;
  color: #fff;
  padding: 6px 3px;
  width: 100px;
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  border: 2px solid #3b3e3e;
  background-color:#6fb193;
  color: #fff;
  padding: 9px 3px;
  width: 100px;
  border-radius: 10px;

  margin-top: 10px;
}

h5 {
  color: #262a2a;
  margin-top: 10px;
  font-size: small;
  margin-right: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .containers {
    flex-direction: column;
    align-items: center;
  }
}  
